@using Auctionsite
@using Auctionsite.Models
@using Auctionsite.Models.Database
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav flex-wrap">

    <!--Notifications icon-->
    <li class="nav-item me-3">
        <a id="notification-icon"
           class="nav-link text-dark d-flex align-items-center d-sm-inline-flex"
           href="javascript:void(0);"
           role="button">

            <!-- Desktop icon -->
            <i class="bi bi-bell-fill d-none d-sm-inline navbar-iconsize position-relative">
                <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"
                      id="notification-dot-desktop"
                      style="display: none;"></span>
            </i>

            <!-- Mobile icon -->
            <i class="bi bi-bell d-sm-none navbar-iconsize me-2 position-relative">
                <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"
                      id="notification-dot-mobile"
                      style="display: none;"></span>
            </i>

            <!-- Mobile label -->
            <span class="d-sm-none navbar-fontsize text-nowrap">Notiser</span>
        </a>
    </li>

    <!--Chat icon-->
    <li class="nav-item me-3 ">
        <a class="nav-link text-dark d-flex align-items-center d-sm-inline-flex" asp-controller="Chat" asp-action="ViewChat">
            <i class="bi bi-chat-dots-fill d-none d-sm-inline navbar-iconsize"></i> <!--Desktop only-->
            <i class="bi bi-chat-dots d-sm-none navbar-iconsize me-2"></i> <!--Mobile only-->
            <span class="d-sm-none navbar-fontsize text-nowrap">Chat</span> <!--Mobile only-->
        </a>
    </li>

    <li class="nav-item me-4 navbar-fontsize">
        <a class="nav-link text-dark border custom-border text-nowrap" href="/skapa-annons">
            <i class="bi bi-pencil d-sm-none me-2 navbar-iconsize "></i><!--Mobile only-->Ny Annons
        </a>
    </li>

    @if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <li class="dropdown">
                <a class="nav-link btn text-dark d-flex align-items-center gap-1 border-0 navbar-fontsize dropdown-toggle text-nowrap" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user-gear navbar-iconsize me-1"></i> Admin sidor
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    @if (currentUser != null)
                    {
                        var roles = await UserManager.GetRolesAsync(currentUser);
                        <li><a class="dropdown-item border-bottom py-3 fw-bold text-center">@(roles.FirstOrDefault() ?? "Ingen roll")</a></li>
                    }
                    <li><a class="dropdown-item border-bottom d-flex align-items-center py-3" asp-controller="Admin" asp-action="Index"><i class="bi bi-speedometer me-3"></i>Dashboard</a></li>
                    <li><a class="dropdown-item border-bottom d-flex align-items-center py-3" asp-area="Identity" asp-page="/Account/Manage/Dashboard"><i class="bi bi-grid-1x2 me-3"></i>Mina sidor</a></li>
                    <li><a class="dropdown-item border-bottom d-flex align-items-center py-3"><i class="bi bi-bar-chart-line me-3"></i>Statistik</a></li>
                    <li>
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                            <button type="submit" class="dropdown-item py-3"><i class="bi bi-door-open me-3"></i>Logga ut</button>
                        </form>
                    </li>
                </ul>
            </li>
        }
        else
        {
            <li class="dropdown">
                <a class="nav-link btn text-dark d-flex align-items-center gap-1 border-0 navbar-fontsize dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user-circle navbar-iconsize me-1 text-nowrap"></i> Mina sidor
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    @if (currentUser != null)
                    {
                        <li><a class="dropdown-item border-bottom py-3 fw-bold text-center">@(currentUser.UserName ?? "Inget användarnamn")</a></li>
                    }
                    <li><a class="dropdown-item border-bottom d-flex align-items-center py-3" asp-area="Identity" asp-page="/Account/Manage/Dashboard"><i class="bi bi-grid-1x2 me-3"></i>Översikt</a></li>
                    <li><a class="dropdown-item border-bottom d-flex align-items-center py-3" asp-area="Identity" asp-page="/Account/Manage/Dashboard"><i class="bi bi-chat-dots me-3"></i>Chattar</a></li>
                    <li><a class="dropdown-item border-bottom d-flex align-items-center py-3" asp-area="Identity" asp-page="/Account/Manage/MinaAnnonser"><i class="bi bi-star me-3"></i>Mina annonser</a></li>
                    <li><a class="dropdown-item border-bottom d-flex align-items-center py-3" asp-area="Identity" asp-page="/Account/Manage/SparadeAnnonser"><i class="bi bi-heart me-3"></i>Sparade annonser</a></li>
                    <li><a class="dropdown-item border-bottom d-flex align-items-center py-3" asp-area="Identity" asp-page="/Account/Manage/Dashboard"><i class="bi bi-bookmark-check me-3"></i>Bevakningar</a></li>
                    <li><a class="dropdown-item border-bottom d-flex align-items-center py-3" asp-area="Identity" asp-page="/Account/Manage/SettingsList"><i class="bi bi-gear me-3"></i>Inställningar</a></li>
                    <li>
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                            <button type="submit" class="dropdown-item d-flex align-items-center py-3 text-nowrap"><i class="bi bi-door-open me-3"></i>Logga ut</button>
                        </form>
                    </li>
                </ul>
            </li>
        }
    }
    else
    {
        <li class="nav-item navbar-fontsize">
            <a class="nav-link text-dark d-flex align-items-center d-sm-inline-flex text-nowrap" asp-area="Identity" asp-page="/Account/Register">
                <i class="bi bi-person-plus d-sm-none me-2 navbar-iconsize"></i> <!--Mobile only-->
                Registrera
            </a>
        </li>
        <li class="nav-item navbar-fontsize">
            <a class="nav-link text-dark d-flex align-items-center d-sm-inline-flex text-nowrap" asp-area="Identity" asp-page="/Account/Login">
                <i class="bi bi-box-arrow-in-right d-sm-none me-2 navbar-iconsize"></i> <!--Mobile only-->
                Logga in
            </a>
        </li>
    }
</ul>
