@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Återställ lösenord";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ett email har skickats till din e-postadress med instruktioner för att återställa ditt lösenord.
</p>
